button
{
    width: 60px;height: 60px;font-size: 50px;
background-color: #757577;color: black;
}

div{
    background-color: black;width: 200px;height: 190px;flex-wrap: wrap;
display: flex; 
padding: 4px; 
justify-content: space-evenly;
}

.reiniciar {
    border-radius: 50%;
    position: relative;
    top: -270px;
    left: 192px;
}